@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  margin: 0;

  background-color: rgba(86, 97, 103, 1);
  height: 86.8vh;
  font-family: "Libre Baskerville", serif;
}

.div--pocetni_input {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.input--pretrazi_pacijenta {
  margin: 10px;
  height: 45px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: left;
  width: 50rem;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
}

.button--listing_pacijenata {
  margin: 10px;
  height: 46px;
  width: 100px;
  border-radius: 10px;
  border: none;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 700;
}

.button--listing_pacijenata:hover {
  background-color: rgba(219, 220, 221, 1);
}

.button--dodaj_pacijenta {
  margin: 10px;
  height: 46px;
  width: 170px;
  border-radius: 10px;
  border: none;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 700;
}

.button--dodaj_pacijenta:hover {
  background-color: rgba(219, 220, 221, 1);
}

.div--popup {
  display: flex;
  justify-content: center;
}
